.footer {
    padding-top: 60px;
    padding-bottom: 20px;
}

.socials {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px 30px;
    justify-content: center;

    @include mobile {
        gap: 10px 20px;
    }

    * {
    @include mobile {
        width: 30px;
        height: 30px;
    }
    }
}

.footer-text {
    text-align: center;
    font-size: 16px;
    line-height: 150%; /* 24px */
    letter-spacing: -0.5px;
    padding-top: 30px;

    @include mobile  {
        font-size: 12px;
    }
}